analysis/magnotron/results/306730-spec-TWHYA_iter0.ascii
analysis/magnotron/results/306730-spec-TWHYA_iter1.ascii
analysis/magnotron/results/306730-spec-TWHYA_iter2.ascii
analysis/magnotron/results/306730-spec-TWHYA_iter3.ascii
analysis/magnotron/results/306730-spec-TWHYA_iter4.ascii
analysis/magnotron/results/306730-spec-TWHYA_iter5.ascii
analysis/magnotron/results/306730-spec-TWHYA_iter6.ascii
analysis/magnotron/results/306731-spec-TWHYA_iter0.ascii
analysis/magnotron/results/306731-spec-TWHYA_iter1.ascii
analysis/magnotron/results/306731-spec-TWHYA_iter2.ascii
analysis/magnotron/results/306731-spec-TWHYA_iter3.ascii
analysis/magnotron/results/306731-spec-TWHYA_iter4.ascii
analysis/magnotron/results/306731-spec-TWHYA_iter5.ascii
analysis/magnotron/results/306731-spec-TWHYA_iter6.ascii
analysis/magnotron/results/306732-spec-TWHYA_iter0.ascii
analysis/magnotron/results/306732-spec-TWHYA_iter1.ascii
analysis/magnotron/results/306732-spec-TWHYA_iter2.ascii
analysis/magnotron/results/306732-spec-TWHYA_iter3.ascii
analysis/magnotron/results/306732-spec-TWHYA_iter4.ascii
analysis/magnotron/results/306732-spec-TWHYA_iter5.ascii
analysis/magnotron/results/306732-spec-TWHYA_iter6.ascii
analysis/magnotron/results/log_306730
analysis/magnotron/results/log_306731
analysis/magnotron/results/log_306732
